<h2>Criar Conta</h2>
<hr>
<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="nome" class="form-control" id="nome" aria-describedby="nome">       
      </div>
      <div class="form-group mt-2">
        <label for="telefone">Telefone</label>
        <input type="telefone" class="form-control" id="telefone" aria-describedby="telefone" placeholder="(xx) xxxxx-xxxx">     
      </div>
    <div class="form-group mt-2">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" aria-describedby="email">     
    </div>
    <div class="form-group mt-2">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha">
    </div>
    <div class="form-group mt-2">
        <label for="senha">Repita a Senha</label>
        <input type="password" class="form-control" id="senha">
      </div>
    <div class="form-group form-check mt-2 mb-2">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><a href="#">Concordo com os termos.</a></label>
    </div>
    <button type="submit" class="btn btn-primary" routerLink="/login">Enviar</button>
    <button type="submit" class="btn btn-secondary float-end" routerLink="/login">Cancelar</button>
  </form>